body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #58545B;
  color: #f0f0f0;
  display: grid;
  grid-template-columns: 0fr auto;
  grid-template-rows: 0px 1fr 20px;
  grid-template-areas:
  "aside canvas"
  "aside canvas"
  "info info";
}

button {
  background-color: #B7A7AE;
  padding: 10px;
  border-radius: 5px;
  color: #1C252C;
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: darkgray;
}

input{
    background-color: #F6F2F6;
    border-color: #1C252C;
    border-radius: 5px;
    color: #1C252C;
}

#url-input{
  margin-top: 10px;
  padding: 10px;
}

#file-input{
  margin-top: 10px;
    padding: 10px;
}

  #info-panel {
    grid-area: info;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1C252C;
  }

  #input-container {
    margin-top: 10px;
  }

  #canvas-container {
    grid-area: canvas;
    position: relative;
    overflow: hidden;
  }
  
  #canvas-scroll-container {
    display: -webkit-box;
    list-style: none;
    padding: 0;
    overflow: auto;
    height: 95vh;
  }
  


  #load-image, #reset-image {
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
  }

  .color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }

  aside{
    grid-area: aside;
    padding: 10px;
    height: 100%;
    width: 40px;
    background-color: #1C252C;
  }
  #info-panel > div{
    margin-right: 10px;
  }

  .modal {
    grid-column: 2;
    grid-row: 1 / span 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    color: #1C252C;
  }

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trigger{
  padding-top: 8px;
  padding-bottom: 8px;
}

.modal-header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.form-div{
  margin-bottom: 10px;
}
